<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="CFuelCorbo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="pathxml" value="D:\App\VSCNET\Desktop\CFuelCorbo\app_data111" />
    <add key="MySqlConnection.ConnectionString" value="Server=localhost;Database=cfuelcorbo;Uid=root;Pwd=henrique;" />
  </appSettings>
  
  <!-- As tags abaixo eu criei na esperança de encontrar uma forma de ler e gravar, mas não consegui. -->
  <applicationSettings>
    <CFuelCorbo.Properties.Settings>
        <setting name="caminho" serializeAs="String">
            <value>D:\App\VSCNET\Desktop\CFuelCorbo\app_data</value>
        </setting>
    </CFuelCorbo.Properties.Settings>
  </applicationSettings>
  
</configuration>