<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathfilemedia" value="C:\App\VS\Desktop\ALFiles\media.xml"/>
    <add key="pathfilemedia1" value="C:\App\VS\Desktop\ALFiles\media.xml"/>
    <add key="pathfilemedia2" value="C:\App\VS\Desktop\ALFiles\media.xml"/>
  </appSettings>
</configuration>